@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;600;700&display=swap');

/* Now you can use the Open Sans font in your CSS rules */
body {
    font-family: 'Open Sans', sans-serif;
    /* Additional CSS styling */
}

@media print {
  form {
    display: none;
  }
}


form {
  text-align: center;
}

.cvMain {
  display: flex;
  justify-content: space-between;
  /* padding: 12px 12px; */
}

.left {
  width: 50%;
}

.names > h1 {
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}

.names > article {
  padding-top: 12px;
  font-size: 18px;
  border-bottom: 1px solid blue;
}

.workExperience {
  border-bottom: 1px solid blue;
}

.workExperience > h3 {
  font-weight: 500;
}

.experienceBlock > article > article {
  padding-left: 4px;
  padding-right: 4px;
}

.experienceBlock > :first-child {
  display: flex;
  background: yellow;
}

.experienceBlock .lineContainer {
  padding-top: 4px;
}

.experienceBlock .line {
  width: 50px;
  height: 2px;
  background: blue;
  margin: 6px 0;
}

.experienceBlock > p {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 4px;
}

.companyName {
  color: red;
}

.education {
  border-bottom: 1px solid blue;
}

.education > * {
  padding-left: 4px;
}

.skills > article > article {
  display: flex;
}

.skills > article > article > * {
  padding-left: 4px;
  padding-right: 4px;
}

.skills .lineContainer {
  padding-top: 4px;
}

.skills .line {
  width: 30px;
  height: 2px;
  background: blue;
  margin: 6px 0;
}

.right {
  width: 30%;
}

.photoContainer {
  position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%;
}

.photoContainer > img {
  width: 100%;
  height: 100%;
}

.aboutMe {
  border-bottom: 1px solid blue;
}

.aboutMe > p {
  padding-left: 4px;
}

.contactInfo {
  border-bottom: 1px solid blue;
}

.contactInfo > article {
  padding-left: 4px;
  margin-bottom: 12px;
}

.contactInfo > article > p {
  margin: 0;
}

.certifications {
  border-bottom: 1px solid blue;
}

.certifications > p {
  padding-left: 4px;
}



