@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;600;700&display=swap');

/* Now you can use the Open Sans font in your CSS rules */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

h3 {
  font-size: 18px;
}

article, p {
  font-size: 14px;
}

@media print {
  form {
    display: none;
  }
}


form {
  text-align: center;
}

.cvMain {
  display: flex;
  justify-content: space-between;
  /* padding: 12px 12px; */
}

.left {
  width: 50%;
}

.names > h1 {
  margin: 0;
}

.names > article {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #979FC3;
}

.experienceBlock {
  padding-bottom: 16px;
}

.experienceBlock > article > article {
  padding-left: 4px;
  padding-right: 4px;
}



.experienceBlock > p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.companyName {
  color: rgb(175, 40, 40);
  font-size: 16px;
}

.education {
  border-bottom: 1px solid #979FC3;
}

.education > p {
  padding-left: 4px;
}

.skills {
  border-bottom: 1px solid #979FC3;
}

.skills > article > article > * {
  padding-left: 4px;
  padding-right: 4px;
}
.skills > article > article {
  padding-bottom: 12px;
}

.skills .lineContainer {
  padding-top: 4px;
}

.skills .line {
  width: 30px;
  height: 2px;
  background: #979FC3;
  margin: 6px 0;
}

.skills strong {
  font-weight: 600;
}

.right {
  width: 40%;
}

.photoContainer {
  margin-bottom: 12px;
  position: relative; width: 150px; height: 150px; overflow: hidden; border-radius: 50%;
}

.photoContainer > img {
  width: 100%;
  height: 100%;
}

.aboutMe {
  border-bottom: 1px solid #979FC3;
}

.aboutMe > p {
  padding-left: 4px;
}

.contactInfo {
  border-bottom: 1px solid #979FC3;
}

.contactInfo > article {
  padding-left: 4px;
  margin-bottom: 12px;
}

.contactInfo > article > p {
  margin: 0;
}

.certifications {
  border-bottom: 1px solid #979FC3;
}

.certifications > p {
  padding-left: 4px;
}

.achievements > p {
  padding-left: 4px;
}

